<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>184358489416-nt8baoa9th0lgedpk3jv6i0qctm6sgmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184358489416-nt8baoa9th0lgedpk3jv6i0qctm6sgmf</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Gp13HtbULKAcgNY6TeuKbbRbotQJWlI</string>
	<key>GCM_SENDER_ID</key>
	<string>184358489416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vbadisova.TennisMe</string>
	<key>PROJECT_ID</key>
	<string>tennisme-bdabe</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisme-bdabe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184358489416:ios:4cb0df31d4708f98</string>
	<key>DATABASE_URL</key>
	<string>https://tennisme-bdabe.firebaseio.com</string>
</dict>
</plist>